// Place all the styles related to the Customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table.center-table {
  background-color: #ffffff;
  border-radius: 5px;
  width: 100%;
  margin: 5% auto 0 auto;

  .current {
    padding-right: 12px;
    background-repeat: no-repeat;
    background-position: right center;
  }

  th .asc {
    background-image: url("up_arrow.gif");
  }

  th .desc {
    background-image: url("down_arrow.gif");
  }

  th {
    text-decoration: underline;
    padding: 10px;
  }

  td {
    padding: 8px;
  }

  tr.clickable-row {
    cursor: pointer;
    transition: all 0.5s ease-out;
  }

  tr.clickable-row:hover {
    background-color: #b9f6ca;
  }
}

div.pagination-container {
  margin-top: 20px;
  text-align: center;
}

div.section {
  padding: 3% 0 5% 0;
}
